@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400;700;900&family=Montserrat:wght@100;300;400;700;900&family=Ubuntu:wght@300;400;700&display=swap");

::-webkit-scrollbar {
  display: none;
}

.mobile {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #131a24;
  color: #fff;
}

#navbar nav {
  top: 0;
  display: flex;
  align-items: center;
  padding: 1% 5%;
  background-color: #131a24;
  position: fixed;
  width: 100%;
}

#navbar-brand {
  color: #66d9ed;
  font-size: 2rem;
  font-family: "Chivo Mono", monospace;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#navbar-brand:hover {
  opacity: 0.8;
}

#navbar-link-list {
  width: 100%;
}

#list-nav {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one li,
.two li {
  display: inline-block;
}

.one,
.two {
  width: 100%;
}

.one {
  text-align: right;
}

.nav-link {
  opacity: 0.7;
  margin-right: 50px;
  font-family: "Chivo Mono", monospace;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
}

.home-link a::before {
  content: "01";
  padding-right: 10px;
}

.expertise-link a::before {
  content: "02";
  padding-right: 10px;
}

.work-link a::before {
  content: "03";
  padding-right: 10px;
}

.contact-link a::before {
  content: "04";
  padding-right: 10px;
}

#title-text {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-heading {
  font-size: 6rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

#title-paragraph {
  font-size: 2rem;
  font-family: "Chivo Mono", monospace;
}

#title-heading-expert {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 100px auto;
  text-align: center;
}

#expertise .row {
  display: flex;
  padding: 5% 7%;
  align-items: center;
  justify-content: center;
}

.card-1,
.card-2,
.card-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 285px;
  height: 285px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #fff;
  padding: 20px;
}

.card-1 h3,
.card-2 h3,
.card-3 h3 {
  font-size: 2rem;
}

.card-1 p,
.card-2 p,
.card-3 p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.card-1,
.card-2 {
  border-right: none;
}

.trail {
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: #66d9ed;
  transform: translate(-10px, -20px);
}

#work .row, .row-2 {
  display: flex;
  padding: 5% 7%;
  align-items: center;
  justify-content: center;
}

#work a {
  color: #fff;
  text-decoration: none;
}

.card-1-work,
.card-2-work,
.card-3-work,
.card-4-work {
  background-color: #131a24b9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 305px;
  font-family: "Montserrat", sans-serif;
  margin: 20px;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}

.row-2 {
  padding-top: 0;
}

.card-1-work p,
.card-2-work p,
.card-3-work p,
.card-4-work p {
  line-height: 1.5;
  padding: 0 20px;
}

.card-1-work h3,
.card-2-work h3,
.card-3-work h3,
.card-4-work h3,
.card-1-work a,
.card-2-work a,
.card-3-work a,
.card-4-work a {
  padding: 0 20px;
}

.card-1-work a,
.card-2-work a,
.card-3-work a,
.card-4-work a {
  padding-bottom: 20px;
}

#contact {
  text-align: center;
}

#title-heading-professional {
  font-size: 3rem;
  width: 50%;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 100px auto;
  text-align: center;
}

.software-heading {
  text-decoration: underline #df058d;
}

.front-end {
  text-decoration: underline #2c49d8;
}

.js {
  text-decoration: underline #ff6b2b;
}

#expert-parargraph {
  font-family: "Chivo Mono", monospace;
  text-align: center;
}

#contact #title-paragraph a,
#contact #title-paragraph a:active,
#contact #title-paragraph a:visited,
#contact #title-paragraph a:hover {
  color: #fff !important;
}

#title-text {
  margin: 20px;
}

@media screen and (max-width: 1000px) {
  #expertise .row {
    flex-direction: column;
  }

  .card-1 {
    border-right: #fff solid 2px;
  }

  .card-2 {
    border-top: none;
    border-right: #fff solid 2px;
    border-bottom: none;
  }

  #work .row {
    flex-direction: column;
  }

  #title-heading {
    font-size: 4rem;
  }

  #title-paragraph {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .mobile {
    display: block !important;
  }

  #navbar nav {
    flex-direction: column;
    padding-left: 0;
    width: 100%;
  }

  #navbar-link-list {
    width: 100% !important;
    left: 0;
    text-align: center;
  }

  #title-text {
    text-align: center;
  }

  #title-heading {
    font-size: 2rem;
  }

  #title-heading-expert {
    font-size: 2rem;
  }

  #title-heading-professional {
    font-size: 2rem;
  }

  #title-paragraph {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }

  .nav-link {
    margin-right: 0;
  }

  #list-nav {
    padding: 10px 0;
    width: 90%;
    margin: auto;
  }

  .one,
  .two {
    flex-direction: column;
    text-align: center;
  }

  .one li,
  .two li {
    margin-top: 10px;
  }

  .home-link a::before {
    content: "";
    padding-right: 10px;
  }

  .expertise-link a::before {
    content: "";
  }

  .work-link a::before {
    content: "";
  }

  .contact-link a::before {
    content: '';
  }

  .contact-link a::before {
    content: "";
  }
}
